.footer {
  display: flex;
  font-size: 12px;
  border-top: 0.5px solid #eee;
  padding-bottom: 16px;
  padding-top: 16px;
  color: #999999;
  margin-top: 32px;
}

.footer-inner {
  margin-left: auto;
  margin-right: auto;
}

.footer-home {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-github {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-home a:link,
.footer-home a:active,
.footer-home a:visited,
.footer-home a:focus,
.footer-github a,
.footer-github a:active,
.footer-github a:visited,
.footer-github a:focus,
.footer-copyright a,
.footer-copyright a:active,
.footer-copyright a:visited,
.footer-copyright a:focus {
  color: #999999;
  text-decoration: none;
  outline: none;
}

.footer-home a:hover, .footer-github a:hover, .footer-copyright a:hover {
  color: #2196F3;
}

.footer-copyright {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

