*{
  /*font-family: Arial, serif;*/
}

.header-container{
  background: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.content-container{
  padding-top: 60px;
  min-height: 500px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
